# Build outputs
dist/
build/
out/
.astro/

# Dependencies
node_modules/

# Logs
*.log

# Cache
.eslintcache
.cache/

# Coverage
coverage/

# Misc
.DS_Store

# Environment variables
.env*

# Editor
.vscode/
.idea/